<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>yafqc report</title>
        <style>
            {{ "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" | embed_source | safe }}
        </style>
        <script>
            {{ "https://code.jquery.com/jquery-3.3.1.slim.min.js" | embed_source | safe }}
        </script>
        <script>
            {{ "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" | embed_source | safe }}
        </script>
        <script>
            {{ "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" | embed_source | safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega@5.17.0" | embed_source | safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-lite@4.17.0" | embed_source | safe }}
        </script>
        <script>
            {{ "https://cdn.jsdelivr.net/npm/vega-embed@6.12.2" | embed_source | safe }}
        </script>
        <style>
            .custom-pill {
                color: #456990;
            }
            .custom-pill a:hover {
                color: darkgrey;
            }
            .custom-pill .active {
                background-color: #456990 !important;
            }
        </style>
    </head>
    <script>
        {% for title, dict in plots.items() %}
            var {{ dict.short }}Spec = {{ dict.specs }};
        {% endfor %}
    </script>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #456990;">
            <a class="navbar-brand" href="#">yafqc report</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link">version {{ version }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitlab.com/gecocoo/yafqc">gitlab</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    created {{ time }}
                </span>
            </div>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: lightgrey;">
                <li class="breadcrumb-item active" aria-current="page">Report</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills custom-pill" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="padding-left: 15px;">
                    {% for title, dict in plots.items() %}
                    <a class="nav-link custom-pill {% if loop.first %}active{% endif %}" id="v-pills-{{ dict.short }}-tab" data-toggle="pill" href="#v-pills-{{ dict.short }}" role="tab" aria-controls="v-pills-{{ dict.short }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}" onclick="vegaEmbed('#tabContent', {{ dict.short }}Spec); window.dispatchEvent(new Event('resize'));">{{ title }}</a>
                    {% endfor %}
                    <a class="nav-link custom-pill" id="v-pills-meta-tab" data-toggle="pill" href="#v-pills-meta" role="tab" aria-controls="v-pills-meta" aria-selected="false" onclick=document.getElementById("tabContent").innerHTML=$('#metaTable').html();>meta </a>
                </div>
            </div>
            <div class="col-9" style="height: calc(100vh - 175px); width: 90%; overflow: auto">
                <div id="tabContent" style="width: 100%; height: 100%">
                    <script>
                        vegaEmbed('#tabContent', countSpec);
                        window.dispatchEvent(new Event('resize'));
                    </script>
                </div>
            </div>
        </div>
        <div id="metaTable" style="display: none">
            <table class="table">
                {% for title, dict in meta.items() %}
                    <tr>
                        <th>
                            {{ dict.name }}
                        </th>
                        <td>
                            {{ dict.value }}
                        </td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </body>
</html>